/* Comment board */
.commentdisplay {
	clear: left;
	margin-bottom: 0.7em;
	position: relative;
}
	.commentdisplay .right {
		float: right;
	}
		.commentdisplay .right a {
			margin-left: 3px;
		}
		.commentdisplay .right a.purge {
			margin-left: 5px;
		}

.add-comment.hidden {
	display: none;
}

.commentdisplay.deleted {
	background-color: rgba(255, 200, 200, 0.4);
	border: 2px dashed rgba(125, 0, 0, 0.6);
	padding: 2px 2px 6px;
	border-radius: 5px;
}

.commentdisplay.private {
	background-color: rgba(200, 200, 255, 0.4);
}

.commentdisplay.highlighted > :not(.replyset) {
	background-color: hsla(60, 80%, 50%, 0.4);
}

.curseprofile .entryform {
	text-align: right;
	position: relative;
}
	.curseprofile .entryform textarea {
		display: block;
		resize: vertical;
		height: 2em;
		margin-bottom:5px;
	}
	.curseprofile .entryform .edit button {
		margin-left: 0.5em;
	}
.commentdisplay .entryform {
	padding-right: 5px;
	margin-left: 54px;
}

.commentbody {
	margin-left:54px;
}

.curseprofile .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(25, 25, 25, 0.7);
	display: flex;
	justify-content: center;
}
	.curseprofile .overlay .fa {
		align-self: center;
	}

.comments .avatar {
	float: left;
	width: 0;
	margin-right: 54px;
}

.replyset {
	padding-left: 54px;
}
	.replyset .avatar {
		-webkit-transform: scale(0.75);
		-webkit-transform-origin: top left;
		transform: scale(0.75);
		transform-origin: top left;
		margin-right: 40px;
	}
	.replyset .entryform {
		margin-left: 40px;
	}
